
/node_modules
/package-lock.json
/pnpm-lock.yaml
/test/samples/*/actual.json
/yarn.lock
.idea
/test/samples/*/instance.*
/test/samples/*/module.*
/test/samples/*/template.*
/test/samples/*/svelte*.tsx
/test/samples/*/svelte*.jsx
